#calendar {
  width: 60%;
  float: right;
}

.row {
  padding-top: 25px;
}

.col-md-4 {

}

.searchResult {
  display: block;
}

.addCalendarButton {
  display: block;
  margin-top: 5px;
  background-color: lightgreen;
}