<div class="row">
  <div class="col-md-4">
  <h2>Search for an event</h2>
    <form action="<%= search_path %>" class="searchForm">
      <label for="artist">Artist name</label>
      <input type="text" name="artist" class="form-control">
<!--       <label for="location">Location</label>
      <input type="text" name="location" class="form-control"> -->
      <button class="btn btn-primary">Search</button>
    </form>
  </div>
  <div id='calendar' class="col-md-8"></div>
</div>